# Introduction to scikit Learn

### Steps followed 
         0.End-to-end Scikit learn Workflow
         1.Get data ready
         2.pick a model which suits(right estimator/algorithum)
         3.Fill data into the model and make prediction
         4.Evaluate the model
         5.Improve through experimentation
         6.save and reload your model

## 0.End-to-end Scikit learn Workflow

In [11]:
# import libraries
import pandas as pd
import numpy as np

## 1.getting data ready

In [23]:

heart_disease =pd.read_csv('C:\\Users\\prane\\OneDrive\\Documents\\machine learning\\Data\\heart-disease.csv')

In [13]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [14]:
# the heart disease dataset is clean data

In [20]:
# Creating X features
X =heart_disease.drop('target',axis=1)
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [21]:
# Creating Y features
Y =heart_disease['target']
Y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

## 2.Pick a model

In [28]:
from sklearn.ensemble import RandomForestClassifier
clf= RandomForestClassifier()

clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

## 3.fill the data into the model and make predictions

In [32]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y, test_size=0.2)

In [33]:
# basically it says find the patterns from the X_train and Y_train get the pattern ready for test 
clf.fit(X_train,Y_train)

RandomForestClassifier()

In [34]:
# now are predicting the data

In [36]:
Y_predict=clf.predict(X_test)

In [37]:
Y_predict

array([0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1], dtype=int64)

## 4.Evaluate the model

In [39]:
# now evalute the score of prediction

In [42]:
clf.score(X_train,Y_train)

1.0

In [43]:
 clf.score(X_test,Y_test)

0.8524590163934426

In [46]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [47]:
print(classification_report(Y_test,Y_predict))

              precision    recall  f1-score   support

           0       0.96      0.75      0.84        32
           1       0.78      0.97      0.86        29

    accuracy                           0.85        61
   macro avg       0.87      0.86      0.85        61
weighted avg       0.87      0.85      0.85        61

In [49]:
print(confusion_matrix(Y_test,Y_predict))

[[24  8]
 [ 1 28]]

In [50]:
print(accuracy_score(Y_test,Y_predict))

0.8524590163934426

## 5.Improve the model through experimentation

In [52]:
# As we are using randomforestclassifier we trying to improve our model by manupulating the n estimator

In [64]:
# using for loop to check with different n_estimators
np.random.seed(42)
for i in range(10,100,10):
    print(f"trying with model: {i} as estimator")
    clf=RandomForestClassifier(n_estimators=i).fit(X_train,Y_train)
    print(f"model accuracy score:{clf.score(X_test,Y_test)*100}%\n")

trying with model: 10 as estimator
model accuracy score:83.60655737704919%

trying with model: 20 as estimator
model accuracy score:81.9672131147541%

trying with model: 30 as estimator
model accuracy score:80.32786885245902%

trying with model: 40 as estimator
model accuracy score:78.68852459016394%

trying with model: 50 as estimator
model accuracy score:83.60655737704919%

trying with model: 60 as estimator
model accuracy score:83.60655737704919%

trying with model: 70 as estimator
model accuracy score:83.60655737704919%

trying with model: 80 as estimator
model accuracy score:83.60655737704919%

trying with model: 90 as estimator
model accuracy score:80.32786885245902%

## 6.save the model and reload it

In [66]:
import pickle

In [67]:
pickle.dump(clf,open('randomforestclasifier.pkl','wb'))

In [68]:
loaded_model=pickle.load(open('randomforestclasifier.pkl','rb'))

In [69]:
loaded_model.score(X_test,Y_test)

0.8032786885245902